* {
    box-sizing: border-box;
}
body {
    background-color: antiquewhite;
    font-family: 'Oxygen', sans-serif;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.container {   
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;   
}
.container>div {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    min-width: 100px;
    width: 100%;
    background-color: #BFEFFF;
    border: 3px solid black;
    font-size: 3rem;
    cursor: pointer;
}
.message, .turn, .new {
    text-align: center;
    margin: 15px;
    font-size: 2rem;
}
.message, .turn {
    background-color: #001628;
    color: #d5bc70;
    padding: 5px 20px;
}
.message {
    display: none;
}

.winLine {
    background-color:maroon;
}
.game-header {
    width:100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: large;
    grid-template-areas: 
        "a b"
        "a b";
}
.player-name {
    width: 50%;
    grid-area: a;
    align-self: end;
    display: grid;
    grid-template-columns: 1fr;
}
.scoreboard {  
    text-align: right;
    grid-area: b;
    align-self: end;
    font-weight: 700;
    border: none;
    font-size: 1.5rem;
    margin: 4px 2px;
    display: none;
}
.player-info {
    display: none;
}
button {
    font-weight: 700;
    background-color:#008CBA;
    color:vwhite;
    text-align: center;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'Oxygen', sans-serif;
}


input {
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    text-align: left;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    margin: 4px 2px;
}
header {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-weight: 900;
    font-size: xx-large;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "a b c";
    align-items: start;
    width: 100%;
}

header>h1 {
    grid-area: b;
    margin-top: 0px;
    margin-bottom: 0px;
}

.wrapper {
    width: 75%;
    margin-left: 12.5%;
}
