* {
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
}
main {
    width:50%;
    margin-left:25%;
}
.container {   
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;   
}
.container>div {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    min-width: 100px;
    width: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    font-size: 3rem;
}
.message, .turn, .new {
    text-align: center;
    margin: 10px;
    font-size: 2rem;
}

.winLine {
    background-color:maroon;
}
.game-header {
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: x-large;
}
.player-name {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    padding-left:25%;
    padding-top: 25%;
}
.scoreboard {
    
    text-align: right;
    padding-right: 25%;
    padding-top: 25%;
}
.player-info {
    display: none;
}
/* .disabledbutton {
    pointer-events: none;
    opacity: 0.4;
} */