* {
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
}
main {
    width:50%;
    margin-left:25%;
    margin-top: 25%;
}
.container {   
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;   
}
.container>div {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    width: 100%;
    background-color: antiquewhite;
    border: 2px solid black;
    font-size: 3rem;
}
.result {
    text-align: center;
    margin: 10px;
    font-size: 2rem;
}
